[{mortgage_calculator, [
 {banks_properties,
  [
   {<<"AlfaBank">>, [
    {<<"interestRate">>, 10},
    {<<"creditMax">>, 1000000},
    {<<"initialFeePersent">>, 6},
    {<<"creditTerm">>, 10}
   ]},
   {<<"PrivatBank">>, [
    {<<"interestRate">>, 9},
    {<<"creditMax">>, 1000000},
    {<<"initialFeePersent">>, 5},
    {<<"creditTerm">>, 10}
   ]},
   {<<"CreditBank">>, [
    {<<"interestRate">>, 8},
    {<<"creditMax">>, 1000000},
    {<<"initialFeePersent">>, 7},
    {<<"creditTerm">>, 10}
   ]}
  ]
 }
]}].
